<div class="form">
  <%= form_for(:session, url: login_path) do |f| %>
      <table id = "whole-card" class="mdl-data-table mdl-js-data-table">
        <thead>
        <tr>
          <th id="table-title">Login</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td id="form-label"><%= f.label :email %></td>
          <td id="form-label"><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td><%= f.label :password %></td>
          <td><%= f.password_field :password %></td>
        </tr>
        <tr>
          <td><%= f.submit "Login", class:"waves-effect waves-light btn-large submit-btn" %></td>
        </tr>
        </tbody>
      </table>
  <% end %>
</div>
